In [84]:
import pandas as pd

In [85]:
df = pd.read_csv("drug200.csv")
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [86]:
df["Drug"].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [88]:
df["Sex"] = df["Sex"].map({"M":1,"F":0})

df["Cholesterol"] = df["Cholesterol"].map({"HIGH":2,"NORMAL":1,"LOW":0})

df["BP"] = df["BP"].map({"HIGH":2,"NORMAL":1,"LOW":0})

df["Drug"] = df["Drug"].map({
    "DrugY": 1,
    "drugC": 2,
    "drugX": 3,
    "drugA": 4,
    "drugB": 5
})

In [89]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [90]:
from sklearn.metrics import  accuracy_score
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [91]:
df

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   2            2   25.355     1
1     47    1   0            2   13.093     2
2     47    1   0            2   10.114     2
3     28    0   1            2    7.798     3
4     61    0   0            2   18.043     1
..   ...  ...  ..          ...      ...   ...
195   56    0   0            2   11.567     2
196   16    1   0            2   12.006     2
197   52    1   1            2    9.894     3
198   23    1   1            1   14.020     3
199   40    0   0            1   11.349     3

[200 rows x 6 columns]

In [92]:
x = df[["Age","Sex","BP","Cholesterol","Na_to_K"]]

y = df["Drug"]

In [93]:
x_trian,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

model = KNeighborsClassifier(n_neighbors=5)

model.fit(x_trian,y_train)

y_pred = model.predict(x_test)

print("accuraxy_score",accuracy_score(y_test,y_pred))

accuraxy_score 0.725

In [94]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [95]:
model1 = LogisticRegression()

model1.fit(x_trian,y_train)

y_pred1 = model1.predict(x_test)

print("accuraxy_score",accuracy_score(y_test,y_pred1))
print("confusion_matrix\n",confusion_matrix(y_test,y_pred1))

accuraxy_score 0.875
confusion_matrix
 [[15  0  0  0  0]
 [ 1  2  2  0  0]
 [ 2  0  9  0  0]
 [ 0  0  0  6  0]
 [ 0  0  0  0  3]]

e:\machine learnig\ml\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [108]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import root_mean_squared_error,r2_score

In [110]:
model2 = RandomForestClassifier(n_estimators=100)

model2.fit(x_trian,y_train)

y_pred2 = model2.predict(x_test)

print("accuracy_score",accuracy_score(y_test,y_pred2))
print("r2_score",r2_score(y_test,y_pred2))
print("confusion_matrix\n",confusion_matrix(y_test,y_pred2))

accuracy_score 1.0
r2_score 1.0
confusion_matrix
 [[15  0  0  0  0]
 [ 0  5  0  0  0]
 [ 0  0 11  0  0]
 [ 0  0  0  6  0]
 [ 0  0  0  0  3]]

In [98]:
df

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   2            2   25.355     1
1     47    1   0            2   13.093     2
2     47    1   0            2   10.114     2
3     28    0   1            2    7.798     3
4     61    0   0            2   18.043     1
..   ...  ...  ..          ...      ...   ...
195   56    0   0            2   11.567     2
196   16    1   0            2   12.006     2
197   52    1   1            2    9.894     3
198   23    1   1            1   14.020     3
199   40    0   0            1   11.349     3

[200 rows x 6 columns]

In [105]:
target_name = ['DrugY', 'drugC', 'drugX', 'drugA', 'drugB']

In [107]:
new = [[25,1,1,2,25.3]]

new_data = model2.predict(new)

print(f"drug is ", {target_name[new_data[0]]})
new_data

drug is  {'drugC'}

e:\machine learnig\ml\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1])