In [2]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import OrdinalEncoder

In [4]:
data = fetch_openml('car',as_frame=True).frame
data

e:\machine learnig\ml\Lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name car exist. Versions may be fundamentally different, returning version 2. Available versions:
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=991
- version 3, status: active
  url: https://www.openml.org/search?type=data&id=40975

  warn(warning_msg)

     buying  maint  doors persons lug_boot safety binaryClass
0     vhigh  vhigh      2       2    small    low           P
1     vhigh  vhigh      2       2    small    med           P
2     vhigh  vhigh      2       2    small   high           P
3     vhigh  vhigh      2       2      med    low           P
4     vhigh  vhigh      2       2      med    med           P
...     ...    ...    ...     ...      ...    ...         ...
1723    low    low  5more    more      med    med           N
1724    low    low  5more    more      med   high           N
1725    low    low  5more    more      big    low           P
1726    low    low  5more    more      big    med           N
1727    low    low  5more    more      big   high           N

[1728 rows x 7 columns]

In [6]:
columns_to_encode = ['lug_boot','safety']
encoder = OrdinalEncoder(
    categories=[
        ['small','med','big'],
        ['low','med','high']
    ]
)

data[columns_to_encode] = encoder.fit_transform(data[columns_to_encode])
data

     buying  maint  doors persons  lug_boot  safety binaryClass
0     vhigh  vhigh      2       2       0.0     0.0           P
1     vhigh  vhigh      2       2       0.0     1.0           P
2     vhigh  vhigh      2       2       0.0     2.0           P
3     vhigh  vhigh      2       2       1.0     0.0           P
4     vhigh  vhigh      2       2       1.0     1.0           P
...     ...    ...    ...     ...       ...     ...         ...
1723    low    low  5more    more       1.0     1.0           N
1724    low    low  5more    more       1.0     2.0           N
1725    low    low  5more    more       2.0     0.0           P
1726    low    low  5more    more       2.0     1.0           N
1727    low    low  5more    more       2.0     2.0           N

[1728 rows x 7 columns]

In [8]:
data  = fetch_openml('adult',as_frame=True).frame
data.occupation.value_counts()

e:\machine learnig\ml\Lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name adult exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=179
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=1590

  warn(warning_msg)

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

encoder = OneHotEncoder(handle_unknown='ignore',sparse_output=False)
encoded_values = encoder.fit_transform(data[['occupation']])
new_colums= encoder.get_feature_names_out(['occupation'])

In [18]:
encoded_values

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], shape=(48842, 15))

In [19]:
new_colums

array(['occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'occupation_nan'], dtype=object)

In [20]:
df_encoded = pd.DataFrame(encoded_values,columns=new_colums,index=data.index)

data_final = pd.concat(
    [data.drop(columns=['occupation']),df_encoded],
    axis=1
)
data_final

      age         workclass  ...  occupation_Transport-moving occupation_nan
0       2         State-gov  ...                          0.0            0.0
1       3  Self-emp-not-inc  ...                          0.0            0.0
2       2           Private  ...                          0.0            0.0
3       3           Private  ...                          0.0            0.0
4       1           Private  ...                          0.0            0.0
...    ..               ...  ...                          ...            ...
48837   2           Private  ...                          0.0            0.0
48838   4               NaN  ...                          0.0            1.0
48839   2           Private  ...                          0.0            0.0
48840   2           Private  ...                          0.0            0.0
48841   1      Self-emp-inc  ...                          0.0            0.0

[48842 rows x 29 columns]

In [23]:
from sklearn.datasets import load_breast_cancer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score,accuracy_score,precision_score,recall_score,f1_score


x,y = load_breast_cancer(return_X_y=True)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

scalar = StandardScaler()
x_train_scaled = scalar.fit_transform(x_train)
x_test_scaled = scalar.fit_transform(x_test)

model= KNeighborsClassifier()
model.fit(x_train_scaled,y_train)
y_pred = model.predict(x_test_scaled)

print(r2_score(y_test,y_pred))

0.7161531279178337

In [25]:
model1 = KNeighborsClassifier()
model1.fit(x_train,y_train)
y_pred1 = model1.predict(x_test)

print(r2_score(y_test,y_pred1))

0.6451914098972922

In [26]:
precision_score(y_test,y_pred)

0.8873239436619719

In [29]:
#cross validation 
from sklearn.model_selection import cross_val_score

x_scaled = scalar.fit_transform(x)

scores = cross_val_score(model,x_scaled,y,cv=5)
scores

array([0.96491228, 0.95614035, 0.98245614, 0.95614035, 0.96460177])

In [30]:
import numpy as np
np.mean(scores)

np.float64(0.9648501785437045)

In [ ]:
from sklearn.pipeline import Pipeline

from sklearn.decomposition import PCA

pipe = Pipeline([
    ('scale',StandardScaler()),
    ('pca',PCA(n_components=10)),
    ('KNeighborsClassifier',KNeighborsClassifier())
])

In [37]:
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)

print(r2_score(y_test,y_pred))

0.7161531279178337